SERVER_NAME: ${SERVER_NAME}

ADMIN_NAME: ${ADMIN_NAME}
ADMIN_EMAIL: ${ADMIN_EMAIL}
ADMIN_PASSWORD: ${ADMIN_PASSWORD}
ADMIN_CREATED_TIMESTAMP: ${ADMIN_CREATED_TIMESTAMP}

TRAEFIK_CLIENT_ID: ${TRAEFIK_CLIENT_ID}
TRAEFIK_CLIENT_SECRET: ${TRAEFIK_CLIENT_SECRET}

GRAFANA_CLIENT_ID: ${GRAFANA_CLIENT_ID}
GRAFANA_CLIENT_SECRET: ${GRAFANA_CLIENT_SECRET}

PROMETHEUS_CLIENT_ID: ${PROMETHEUS_CLIENT_ID}
PROMETHEUS_CLIENT_SECRET: ${PROMETHEUS_CLIENT_SECRET}

NODE_EXPORTER_CLIENT_ID: ${NODE_EXPORTER_CLIENT_ID}
NODE_EXPORTER_CLIENT_SECRET: ${NODE_EXPORTER_CLIENT_SECRET}

CADVISOR_CLIENT_ID: ${CADVISOR_CLIENT_ID}
CADVISOR_CLIENT_SECRET: ${CADVISOR_CLIENT_SECRET}

DOZZLE_CLIENT_ID: ${DOZZLE_CLIENT_ID}
DOZZLE_CLIENT_SECRET: ${DOZZLE_CLIENT_SECRET}
